# Day 1: Historian Hysteria

## Part 1

In [10]:
import pandas as pd
import numpy as np

In [11]:
# Load data into a dataframe
day1data = pd.read_csv('Input Files/day1.txt', index_col=None, header=None, sep='   ', engine='python', names=['Point1', 'Point2'])

In [13]:
# Sort values in ascending order
point1 = day1data['Point1'].sort_values().reset_index(drop=True)
point2 = day1data['Point2'].sort_values().reset_index(drop=True)

In [14]:
sorted_df = pd.DataFrame(data={'Point1': point1, 'Point2': point2})

   Point1  Point2
0   10002   10528
1   10006   10686
2   10246   10753
3   10254   10836
4   10272   11156

In [37]:
# Calculate distance between points
sorted_df['Distance'] = (sorted_df['Point2'] - sorted_df['Point1']).abs()

In [39]:
# Calculate sum of distances 
part1_solution = sorted_df['Distance'].sum()

## Part 2

In [31]:
# Determine value counts for second points
point2_value_count = sorted_df['Point2'].value_counts()
point2_value_count.head()

Point2
43603    20
13284    19
13575    19
70247    19
89542    18
Name: count, dtype: int64

In [33]:
# Merge based on value counts and calculate similarity scores
similarity = sorted_df.merge(point2_value_count, how='inner', left_on='Point1', right_index=True).fillna(0)
similarity['SimilarityScore'] = similarity['Point1'] * similarity['count']
similarity.head()

    Point1  Point2  Distance  count  SimilarityScore
39   13284   13431       147     19           252396
41   13431   13431         0     14           188034
44   13575   13431       144     19           257925
58   14916   13575      1341     17           253572
61   15262   13575      1687      2            30524

In [35]:
# Calculate sum of similarity scores
part2_solution = similarity['SimilarityScore'].sum()